<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Horario de Enfermeras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Horario de Enfermeras</h1>
        <button onclick="window.location.href='/add_nurse_form'">Añadir Enfermera</button>
        <div>
            {% for nurse in nurses %}
                <div class="nurse-list">
                    <span>{{ nurse.name }}</span>
                    <span>
                        {% for availability in nurse.availabilities %}
                            <div>{{ availability.day }}: {{ availability.start_time }} - {{ availability.end_time }}</div>
                        {% endfor %}
                    </span>
                    <span>
                        <button onclick="window.location.href='/edit_nurse_form/{{ nurse.id }}'">Editar</button>
                        <button class="cancel" onclick="window.location.href='/delete_nurse/{{ nurse.id }}'">Eliminar</button>
                    </span>
                </div>
            {% endfor %}
        </div>
        <button onclick="window.location.href='/generate_schedule'">Calcular Horario</button>
    </div>
</body>
</html>
